<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bunshik.admin.mappers.AdminAuthMapper">

    <select id="findByUsername"
            resultType="com.bunshik.common.entity.AdminUser">

        SELECT
        id,
        username,
        password_hash,
        is_active,
        created_at
        FROM admin_user
        WHERE username = #{username}

    </select>

</mapper>