<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bunshik.admin.mappers.AdminMenuMapper">

    <!-- 전체 조회 -->
    <select id="findAll"
            resultType="com.bunshik.common.entity.Menu">

        SELECT
        menu_id,
        menu_name,
        price,
        category,
        image_url,
        description,
        is_available,
        sold_out_reason,
        created_at,
        updated_at
        FROM menus
        ORDER BY menu_id DESC

    </select>

    <!-- 상세 조회 -->
    <select id="findById"
            parameterType="long"
            resultType="com.bunshik.common.entity.Menu">

        SELECT
        menu_id,
        menu_name,
        price,
        category,
        image_url,
        description,
        is_available,
        sold_out_reason,
        created_at,
        updated_at
        FROM menus
        WHERE menu_id = #{menuId}

    </select>

    <!-- 등록 -->
    <insert id="insert"
            parameterType="com.bunshik.common.entity.Menu">

        INSERT INTO menus
        (
        menu_name,
        price,
        category,
        image_url,
        description,
        is_available,
        sold_out_reason
        )
        VALUES
        (
        #{menuName},
        #{price},
        #{category},
        #{imageUrl},
        #{description},
        #{isAvailable},
        #{soldOutReason}
        )

    </insert>
    <!-- 수정 -->
    <update id="update"
            parameterType="com.bunshik.common.entity.Menu">

        UPDATE menus

        <set>

            menu_name = #{menuName},
            price = #{price},
            category = #{category},

            <if test="imageUrl != null">
                image_url = #{imageUrl},
            </if>

            description = #{description},
            is_available = #{isAvailable},
            sold_out_reason = #{soldOutReason}

        </set>

        WHERE menu_id = #{menuId}

    </update>

    <!-- 삭제 -->
    <delete id="delete"
            parameterType="long">

        DELETE
        FROM menus
        WHERE menu_id = #{menuId}

    </delete>
</mapper>