<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bunshik.admin.mappers.AdminOrderMapper">

    <!-- 전체 조회 -->
    <select id="findAll"
            resultType="com.bunshik.common.entity.Order">

        SELECT
        order_id,
        order_number,
        order_type,
        total_price,
        order_status,
        created_at
        FROM orders
        ORDER BY order_id DESC

    </select>

    <!-- 상세 조회 -->
    <select id="findById"
            parameterType="int"
            resultType="com.bunshik.common.entity.Order">

        SELECT
        order_id,
        order_number,
        order_type,
        total_price,
        order_status,
        created_at
        FROM orders
        WHERE order_id = #{orderId}

    </select>

    <!-- 등록 -->
    <insert id="insert"
            parameterType="com.bunshik.common.entity.Order">

        INSERT INTO orders
        (
        order_number,
        order_type,
        total_price,
        order_status
        )
        VALUES
        (
        #{orderNumber},
        #{orderType},
        #{totalPrice},
        #{orderStatus}
        )

    </insert>

    <!-- 수정 -->
    <update id="update"
            parameterType="com.bunshik.common.entity.Order">

        UPDATE orders
        SET
        order_number = #{orderNumber},
        order_type = #{orderType},
        total_price = #{totalPrice},
        order_status = #{orderStatus}
        WHERE order_id = #{orderId}

    </update>

    <!-- 삭제 -->
    <delete id="delete"
            parameterType="int">

        DELETE
        FROM orders
        WHERE order_id = #{orderId}

    </delete>

</mapper>