<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bunshik.admin.mappers.AdminOrderMapper">

    <!-- 주문 전체 조회 -->
    <select id="findAll"
            resultType="com.bunshik.common.entity.Order">

        SELECT
        order_id,
        order_number,
        order_type,
        total_price,
        order_status,
        created_at
        FROM orders
        ORDER BY order_id DESC

    </select>

    <!-- 주문 상세 조회 -->
    <select id="findById"
            parameterType="int"
            resultType="com.bunshik.common.entity.Order">

        SELECT
        order_id,
        order_number,
        order_type,
        total_price,
        order_status,
        created_at
        FROM orders
        WHERE order_id = #{orderId}

    </select>

    <!-- 주문 검색 -->
    <select id="search"
            parameterType="com.bunshik.admin.dto.AdminOrderSearchRequestDto"
            resultType="com.bunshik.common.entity.Order">

        SELECT
        order_id,
        order_number,
        order_type,
        total_price,
        order_status,
        created_at
        FROM orders

        <where>

            <if test="date != null and date != ''">
                DATE(created_at) = #{date}
            </if>

            <if test="orderType != null and orderType != '' and orderType != '전체'">
                AND order_type = #{orderType}
            </if>

            <if test="orderStatus != null and orderStatus != '' and orderStatus != '전체'">
                AND order_status = #{orderStatus}
            </if>

        </where>

        ORDER BY order_id DESC

    </select>

    <!-- 주문 상태 변경 -->
    <update id="updateStatus"
            parameterType="com.bunshik.common.entity.Order">

        UPDATE orders
        SET order_status = #{orderStatus}
        WHERE order_id = #{orderId}

    </update>

    <!-- 주문 취소 -->
    <update id="cancel"
            parameterType="int">

        UPDATE orders
        SET order_status = '취소'
        WHERE order_id = #{orderId}

    </update>

</mapper>