<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bunshik.kiosk.mapper.MenuMapper">

    <resultMap id="menuResultMap" type="com.bunshik.kiosk.dto.MenuResponseDto">
        <id property="menuId" column="menu_id"/>
        <result property="menuName" column="menu_name"/>
        <result property="menuNameEn" column="menu_name_en"/>
        <result property="description" column="description"/>
        <result property="descriptionEn" column="description_en"/>
        <result property="price" column="price"/>
        <result property="category" column="category"/>
        <result property="imageUrl" column="image_url"/>
        <result property="isAvailable" column="is_available"/>

        <collection property="options" ofType="com.bunshik.kiosk.dto.OptionResponseDto" javaType="java.util.List">
            <id property="optionId" column="option_id"/>
            <result property="optionName" column="option_name"/>
            <result property="optionNameEn" column="option_name_en"/>
            <result property="optionPrice" column="option_price"/>
            <result property="optionImage" column="option_image"/>
            <result property="optionIsAvailable" column="option_is_available"/>
        </collection>
    </resultMap>

    <select id="findAll" resultMap="menuResultMap">
        SELECT
        m.menu_id, m.menu_name, m.menu_name_en, m.price, m.category, m.image_url,
        CASE
        WHEN m.is_available = FALSE THEN FALSE
        WHEN EXISTS (
        SELECT 1 FROM menu_set ms
        JOIN menus cm ON ms.component_menu_id = cm.menu_id
        WHERE ms.set_menu_id = m.menu_id AND cm.is_available = FALSE
        ) THEN FALSE
        ELSE TRUE
        END AS is_available,
        m.description, m.description_en, m.sort_order,
        o.option_id, o.option_name, o.option_name_en, o.option_price, o.option_image, o.option_is_available
        FROM menus m
        LEFT JOIN menu_options mo ON m.menu_id = mo.menu_id
        LEFT JOIN options o ON mo.option_id = o.option_id
        AND o.is_visible = TRUE
        WHERE m.is_visible = TRUE
        ORDER BY m.sort_order ASC
    </select>

</mapper>