<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bunshik.kiosk.mapper.OrderMapper">

    <insert id="insertOrder">
        INSERT INTO orders
        (order_number, order_type, total_price)
        VALUES
        ('0', #{orderType}, #{totalPrice})
    </insert>

    <select id="getLastOrderId" resultType="int">
        SELECT LAST_INSERT_ID()
    </select>

    <update id="updateOrderNumber">
        UPDATE orders
        SET order_number = #{orderNumber}
        WHERE order_id = #{orderId}
    </update>

    <insert id="insertOrderItem">
        INSERT INTO order_items
        (order_id, menu_id, quantity, price_at_order)
        VALUES
        (#{orderId}, #{menuId}, #{quantity}, #{price})
    </insert>

    <select id="getLastOrderItemId" resultType="int">
        SELECT LAST_INSERT_ID()
    </select>

    <insert id="insertOrderItemOption">
        INSERT INTO order_item_options
        (order_item_id, option_id)
        VALUES
        (#{orderItemId}, #{optionId})
    </insert>

    <select id="getMenuPrice" resultType="int">
        SELECT price FROM menus WHERE menu_id = #{menuId}
    </select>

    <select id="getOptionPrice" resultType="int">
        SELECT option_price FROM options WHERE option_id = #{optionId}
    </select>

</mapper>