<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bunshik.kiosk.mapper.PaymentMapper">

    <select id="getOrderForPayment" resultType="com.bunshik.kiosk.mapper.OrderPaymentInfo">
        SELECT
        order_id     AS orderId,
        order_number AS orderNumber,
        total_price  AS totalPrice,
        order_status AS orderStatus
        FROM orders
        WHERE order_id = #{orderId}
    </select>

    <select id="countSuccessfulPayments" resultType="int">
        SELECT COUNT(*)
        FROM payments
        WHERE order_id = #{orderId} AND payment_status = '성공'
    </select>

    <insert id="insertPayment">
        INSERT INTO payments
        (order_id, amount, payment_method, payment_status, fail_reason)
        VALUES
        (#{orderId}, #{amount}, #{paymentMethod}, #{paymentStatus}, #{failReason})
    </insert>

    <update id="updateOrderStatus">
        UPDATE orders
        SET order_status = #{orderStatus}
        WHERE order_id = #{orderId}
    </update>

</mapper>